html{
    width: 100%;
}

body{padding:0; margin: 0;}
body { 
    font: 14px Arial;
    width: 100%;
    color: #555;
    max-width: 1000px;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
}

path { 
    stroke-width: 2;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: normal;
}

hr{
    color: inherit;
    border: none;
    margin: 1em 0;
    border-top: 1px solid #ccc;
}

h1,.h1{
    font-size: 3em;
}

h2,.h2{
    font-size: 2.5em;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.bg-grey{
    background: #eee;
}

.full-width{
    width: 100%;
}

.collapsed-column{
    width: 0%;
    float: left;
}

.third{
    width: 33.333333333333333%;
    float: left;
}

.half{
    width: 50%;
    float: left;
}

.maxWidthZero{
}

.transition{
    transition: .5s;
}

.p{
    padding: 1em;
}

.p-t{
    padding-top: 1em;
}

.p-t--l{
    padding-top: 2em;
}

.m-t{
    margin-top: 1em;
}

.m-t--l{
    margin-top: 2em;
}


.p--l{
    padding: 2em;
}


.p-r{
    padding-right: 1em;
}

.p-r--l{
    padding-right: 2em;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


.metro-legend{
    margin: 0;
    color: #fff;
    display: block;
    font-size: 1.2em;
    transition: .5s;
    overflow: hidden;
    max-height: 130px;
}


.metro-legend-fold{
    max-height: 0;
}

.metro-legend-title{
    font-weight: normal;
    margin: 0;
    font-size: 3em;
}

.metro-pie path, .metro-legend{
    cursor: pointer;
}

path.metro-pie-unactive{
    opacity: .5;
    transform: scale(0.9);
}

div.metro-pie-unactive{
    //color: #333;
    opacity: .6;
}

.metro-detail{
    overflow: hidden;
    display: block;
    float: left;
    color: #fff;
}

.metro-detail > div{
    min-height: 200px;
}

.serif{
    font-family: 'Baskerville Old Face', 'Baskerville', 'Georgia', 'Times New Roman', serif;
}

.metro-detail-title{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 2em;
}

.metro-detail-subgroup{
}

.metro-detail-percentage{
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.metro-detail-close{
    background: none;
    border: none;
    padding: 0;
    position: absolute;
    top: 1.2em;
    right: 1.2em;
    cursor: pointer;
    outline: none;
}

.metro-detail-close line{
    stroke: #fff;
    stroke-width: 4;
}

.strong{
    font-weight: bold;
}

.relative{
    position: relative;
}

.text-right{
    text-align: right;
}

.uppercase{
    text-transform: uppercase;
    letter-spacing: 2px;
}

metro-graph .axis line, metro-graph .ticks line{
    stroke: #e0e0e0;
}
metro-graph .ticks text{
    fill: #999;
}

.graphs path{
	stroke-dashoffset:1000;
	stroke-dasharray:1000;
	-webkit-animation: draw 10s linear forward;
	-moz-animation: draw 10s linear forward;
	animation: draw 10s linear forward;
	-webkit-animation-delay: 5s;
	animation-delay: 5s;
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein{
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

metro-graph .metro-graph-detail{
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    margin: 20px 0 0 1px;
}


table{
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: left;
}

table th{
    background: none;
    font-weight: normal;
}

table td, table th{
    padding: 8px;
}

table td{
    border: none;
}

.hide{
    display: none;
}

table tbody tr:nth-child(odd){
    background: #f9f9f9;
}
