body { font: 12px Arial;
    width: 100%;
}

*{
    box-sizing: border-box;
}

path { 
    stroke-width: 2;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

body{padding:0; margin: 0;}
.bg-grey{
    background: #eee;
}

.full-width{
    width: 100%:
}

.third{
    width: 33.333333333333333%;
    float: left;
}
.half{
    width: 50%;
    float: left;
}

.p{
    padding: 1em;
}

.p--l{
    padding: 2em;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


.block-legend{
    margin: 0;
    color: #fff;
    display: block;
    font-size: 1.2em;
}

.block-legend-title{
    font-weight: normal;
    margin: 0;
    font-family: Baskerville serif;;
    font-size: 3.4em;
}
